/*you could add this style -> background-image: url(blueKey.jpg);*/

  body {
    background-color: tan;
    color: black;
  }
 
  img {
    border: 3px solid blanchedalmond;
    border-radius: 50%;
  }
  
  h1 {
      text-align: center;
      font-size: 75px;
      font-family: chiller, monospace;
      color: black;
      }  
  
  h2 {
      color: black;
      text-align: center;
      }
  
  h3 {
    text-align: left;
    color: black;
    font-family: harrington;
    }

  p {
    text-align: center;
    font-size: 20px;
    }

  li {font-family: harrington, monospace;}
  th {font-family: harrington, monospace;}

  hr {
      background-color: gold;
      color: black;
      display: block;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: dotted none none none; 
      border-width: 7px;
      width: 20%;
  }

  span {/*border: 2px dotted red;*/
    width: 100%;
    text-align: center;
  }  

  #foots span {
    text-align: center;
    font-size: 15px;

  }
  
  a {text-decoration: none;}

  table {
    border: 4px solid black;
  }
  
/*ALL ID SELECTORS*/
  #aTop {text-decoration: none;}
  #aTop2 {text-decoration: none;}


  #about {font-family: harrington,"curlz MT", monospace; }

  /*
  #blueLeft {
    object-fit: cover; 
  }
*/

 #blueLeft {
    object-fit: cover;
    object-position: -110px;
  }

  #blueRight {
    object-fit: cover; 
  }  


  #siteMap {
      font-family: harrington, times, sans-serif;
      font-size: 30px;
      text-decoration: underline black 2px;
      }

  #mapList {
    text-align: center;
    font-size: 20px;
  }

  #regCenter {margin-left: 80%;}  


  #cap {
    text-align: center;
    background-color: blanchedalmond;
    border: 8px inset peachpuff;
    width: 60%;
    font-size: 20px;
    display: block;
    margin: auto;
  }

  #cap2 {
    border: 4px inset lightgrey;
    background-color: rgb(110, 164, 207);
    width: 35%;
    font-size: 40px;
    display: block; 
    margin: auto;
  }

  #foots {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 5px solid black;
    color: steelblue;
  }

/*ALL CLASS SELECTORS*/
  .flex-container {
    display: flex;
    justify-content: space-between;
  }


  .grid-container {/*border: 2px solid red;*/
    font-size: 20px;
    display: grid;
    height: 130vh;
    grid-template-columns: 15% auto 3fr 15%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; 
    grid-auto-rows: 100%;
    position: relative;
    top: 50px;
  }

  .interests {/*border: 2px solid red;*/
    background-color: peachpuff;
    border-radius: 20px;
    order: 1;}
  
  .skills {/*border: 2px solid red;*/
    background-color: peachpuff;
    border-radius: 20px;
    order: 4; }

  .GandC { /*border: 2px solid red;*/
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 4;
    order: 5;
    /*grid-row: span 3;*/
  }

  .projects {/*border: 2px solid red;*/
    background-color: peachpuff;
    border-radius: 20px;
    order: 2;}

  .resources {/*border: 2px solid red;*/
    background-color: peachpuff;
    border-radius: 20px;
    text-align: center;
    order:3}
    
  .table {/*border: 2px solid red;*/
      display: flex;
      justify-content: center;
      order: 6;
      grid-column: span 4;
  }

  .footer {
    position: relative;
    top: 100px;
  }


  .monkey {text-decoration:none;}


  .diff-hr {
    color: black;
    border-style: solid; 
    border-width: 1px;
    width: 50%;}

/*ALL PSEUDO-CLASS SELECTORS*/  
  a:hover {
    color: firebrick;
    text-decoration: 2px underline dotted lightslategray;
  }

  span a:hover {
    color: gold;
    text-decoration: none;
  }

  #cap2:hover {background-color: steelblue;}